 <!-- <app-user-profile></app-user-profile><br> -->
<!-- <app-structural-directive></app-structural-directive><br> 
  <app-productlist></app-productlist>   -->
   <!-- <app-cart></app-cart>   -->

  <!-- <p [appHover]="'orange'">Hello world</p>
 <button type="button" class="btn btn-success">Success</button>  -->

  <!-- <app-tdf></app-tdf>  
<app-courses></app-courses> -->
  <!-- <app-reactiveform></app-reactiveform>  -->
   <!-- <app-todo></app-todo> -->

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Todo App</a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
              <a class="nav-link" routerLink="/todo" routerLinkActive="active">Todos</a>
          </li>
          
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>

        </ul>
    </div>
  </div>
 </nav> 

 <div class="container">
  <router-outlet></router-outlet>
 </div> -->
<nav class="navbar-custom float-end">
  <button *ngIf="auth.isAuthenticated()" class="btn btn-danger" (click)="logout()">Logout</button>
</nav>

 <app-home></app-home>
   
 <div class="row">
    <div class="col-md-6">
          <app-chat1></app-chat1>
    </div>
 </div>
 <div class="row">
    <div class="col-md-6">
        <app-chat2></app-chat2>
    </div>
 </div>
  
<router-outlet></router-outlet>
